= render_slide("Phase Zero", "Where do you start? Just as an architect creates a blueprint before building a house, we do the same for your software project.", "ecom_bag.png", "slide1", services_phasezero_path)
= render_slide("E-Commerce", "Ready to get your business online, and move beyond a basic webpage?", "ecom_bag.png", "slide2", services_ecommerce_path)
= render_slide("Social Media", "Social Media is all the buzz.  Work with a team that knows the ins and outs of the business.", "ecom_bag.png", "slide3", services_socialmedia_path)
= render_slide("Financial", "Isotope11 architected, developed, and maintained one of the largest Ruby-based financial applications in the world.", "ecom_bag.png", "slide5", services_financial_path)
= render_slide("Insurance", "We've built multiple insurance calculators that are in daily use writing thousands of policies.", "ecom_bag.png", "slide6", services_insurance_path)
= render_slide("Mobile", "Experience building mobile apps as well as mobile websites, and the APIs that power them", "ecom_bag.png", "slide2", services_mobile_path)
= render_slide("SaaS", "Software-as-a-service isn't just about recurring revenue.", "ecom_bag.png", "slide7", services_saas_path)
= render_slide("MLM", "Need multi-level marketing?  We have the complete solution", "ecom_bag.png", "slide4", services_mlm_path)
