- content_for :title do
  E-Commerce &ndash; Services &ndash; isotope|eleven

= interior_header 'Services'

.interior
  .fixed_content
    = render_sibling_nav_for(:services)

    .work_content_left
      %h3 E-Commerce
      %p
        Ready to get your business online, and move beyond a basic webpage? We leverage proven open source tools such as Spree to provide a complete solution for your online sales needs. It is easily extensible and can be customized to not only have the look and feel your customers demand, but the features and reporting that you need to grow your business, all in an easy to use package.
      %p
        = link_to 'Back to Services', '/services'

      .work_examples
        = image_tag 'freshfully.png'
        .work_examples_content
          %h3 Freshfully
          %p
            Custom built from the ground up on the Spree e-commerce engine, Freshfully looks to easily connect and sell local produce to consumers. Besides a full online grocery store, they share interesting articles and recipes as well. New local farmers, vendors and products are actively being added to the site every day, so be sure to check them out. Those of you not in the Birmingham area, don't fret, as they are looking to expand in the future.
      .clearfix
      %hr

      .work_examples
        = image_tag 'apt.png'
        .work_examples_content
          %h3 Auto Parts Tomorrow
          %p
            Auto Parts Tomorrow is a major distributor of quality auto parts who understands that parts are needed ASAP. Appropriately named, APT has the ability to easily and affordably get you parts quickly. APT came to us with an existing rails application that needed a major overhaul. The changes and improvements haven't stopped rolling into production since the site has relaunched. We are still actively developing and improving the parts buying experience. isotope|eleven has rewritten much of the back-end code as well as giving the site a refresher on the front-end.
      .clearfix
      %hr

      .work_examples
        = image_tag 'brynneridge.png'
        .work_examples_content
          %h3 Brynne-Ridge LLC
          %p
            Brynne-Ridge LLC is a wholesale distribution and marketing company with vendors that include a wide variety of artists and businesses. Many of the vendors are small, start up entrepreneurs with new and original products, not found anywhere in the marketplace. For Brynne-Ridge we created the entire site utilizing a custom front end and utilizing
            %a{:href => "http://www.spreecommerce.com", :target => "_blank"}
              Spree
            packed with custom extensions.
      .clearfix
      %hr

      .work_examples
        = image_tag 'sportgraphics.png'
        .work_examples_content
          %h3 Sportgraphics
          %p
            Sportgraphics has photographed most of the major regattas since 1986 in the U.S., Canada, and England. You can check out their Archive to see if they've covered an event you've competed in. You can order your photo right online within minutes using their secure order form. Look for Sport Graphics at an upcoming event.
      .clearfix
      %hr

      .work_examples
        = image_tag 'dsp.png'
        .work_examples_content
          %h3 Deep South Fibers
          %p
            Deep South Fibers, the innovative source for ‘all things knitting,’ supports and advances designers and retailers in the needle arts industry through innovation, insight and accessibility.
      .clearfix
      %hr

      .work_examples
        = image_tag 'itm.png'
        .work_examples_content
          %h3 In the Making
          %p
            ShopITM.com is a 5000+ item online store specializing in knitting items.
      .clearfix
      %hr

      .work_examples
        = image_tag 'scooter.png'
        .work_examples_content
          %h3 ScooterCoolers
          %p
            Scootercoolers.com is the home of the sales and distribution of Cruzin Coolers in Alabama. 
      .clearfix
    .work_content_right
      = image_tag 'ecommerce.png', :alt => 'E-Commerce Image'
      %ul
        %li
          Integration with payment providers such as
          = link_to 'braintree,', 'http://www.braintreepaymentsolutions.com' 
          = link_to 'paypal,', 'http://www.paypal.com' 
          and
          = link_to 'authorize.net', 'http://www.authorize.net'
        %li
          Full shopping cart sytem via the open source
          = link_to 'Spree', 'http://www.spreecommerce.com'
          platform
        %li Inventory Control
        %li User management
        %li Recurring billing
        %li Wholesale and retail shops
    
