- content_for :title do
  Insurance &ndash; Services &ndash; isotope|eleven

= interior_header 'Services'

.interior
  .fixed_content
    = render_sibling_nav_for(:services)
    %h3 Insurance
    .work_content_right
      = image_tag 'insurance.png', :alt => 'Insurance Image'
      %ul
        %li Geo-location based rate calculations
        %li Secure rate quote request forms
        %li Integration with external providers
        %li Risk-group based calculations
        %li Porting of legacy applications
        %li Complex claims processing systems

    .work_content_left
      %p
        Many factors go into a successful insurance quote, from location based information such as distance for fire hydrants and other emergency services, to calculating flood planes, or on demand credit inquiries. isotope|eleven has extensive experience in writing custom web applications for insurance companies and cooperatives.
      %p
        = link_to 'Back to Services', '/services'
      .work_examples
        = image_tag 'aiua.png'
        .work_examples_content
          %h3 Alabama Insurance Underwriting Association
          %p
            As insurer of last resort, AIUA provides a market wherein owners of eligible property located in coastal areas of Baldwin and Mobile counties may obtain essential insurance when they are unable to obtain coverage in the private insurance market. Additionally, AIUA provides geographic mapping and risk mitigation services for private insurers providing coverage to consumers in the coastal areas of Alabama. The isotope|eleven team designed and engineered the platform and applications utilized for these services, as well as the necessary custom reporting.

      .work_examples
        = image_tag 'rweaver.png'
        .work_examples_content
          %h3 Ryan Weaver Insurance Inc.
          %p
            Ryan Weaver Insurance, Inc. is an independent insurance agency offering personal and commercial insurance services, employee leasing and benefits, and other specialty lines of coverage.
