- content_for :title do
  Mobile &ndash; Services &ndash; isotope|eleven

= interior_header 'Services'

.interior
  .fixed_content
    = render_sibling_nav_for(:services)
    %h3 Mobile
    .work_content_right
      = image_tag 'mobile.png', :alt => 'Mobile Image'
      %ul
        %li Our apps have sent and received millions of SMS messages.
        %li iPhone app development.
        %li Android app development.
        %li Mobile cloud computing.
        %li Geolocation technology.

    .work_content_left
      %p
        Good mobile applications are much more than a basic iPhone app. They need integration with the cloud so that users may share their location, and interact in real time with other users of the platform. Writing web services that will be compatible across all clients including iPhone, Android, Blackberry, and HTML5 based mobile clients is important, so that your users are not locked into a single platform as the mobile landscape evolves.
      %p
        = link_to 'Back to Services', '/services'
      .work_examples.mobile
        = image_tag 'isotope_phone.png'
        .work_examples_content
          %h3 isotope|eleven
          %p
            While not a standalone application, the current isotope|eleven site has been built from the ground up as a 'Mobile First' site.  It looks great on a mobile and scales flawlessly, regardless of screen size.
      %hr
      .work_examples.mobile
        = image_tag 'sparkquest_mobile.png'
        .work_examples_content
          %h3 SparkQuest
          %p
            SparkQuest is a free app offering local deals and loyalty programs.  It's a mobile site written in javascript and backed by an API.
