.interior
  .fixed_content
    = render :partial => "bio", :locals => { :user => @user }
    - if current_user && (current_user == @user || current_user.admin?)
      .clear
      %p= link_to 'Edit User', edit_user_path

    .clear
    - unless @posts.empty?
      %h2 Blog Posts
      = render @posts, { show_disqus: false, show_disqus_comment_counts: true }
      = will_paginate @posts
  = render :partial => 'posts/disqus_index_comments'
