#what-we-do
  .fixed_content
    .services-slider
      .slide.slide1
        .slide-content
          .text
            %h3 E-Commerce
            %p Ready to get your business online, and move beyond a basic webpage?
          .img
            = image_tag 'ecom_bag.png'
      .slide.slide2
        .slide-content
          .text
            %h3 Phase Zero
            %p Where do you start? Just as an architect creates a blueprint before building a house, we do the same for your software project.
          .img
            = image_tag 'ecom_bag.png'
              
      .slide.slide3
        .slide-content
          .text
            %h3 MLM
            %p Need multi-level marketing? We have the complete solution.
          .img
            = image_tag 'ecom_bag.png'
            
#how-we-do-it
  .texture
    .fixed_content
      .section.section0
        %h5 0
        %h3 Phase Zero
        %h4
          strategy
          %span.amp &amp;
          layout
        %p
          Our process starts with the phase zero.  This is a project specification session that involves a one to two day in-person client meeting to go over precisely what features the project will have at its completion.
        = image_tag 'step_zero_arrow.png', :class => 'arrow'
        
      .section.section1
        %h5 1
        %h3 Wireframe
        %h4
          mockups
          %span.amp &amp;
          user stories
        %p
          At the same time, we generate mockups and user stories for each page in the application.  Doing this in-person with the client at the beginning of each project helps us guarantee that we have a firm shared vision of the project to move forward with.
        = image_tag 'step_one_shake.png', :class => 'shake'
        = image_tag 'step_one_pour.png', :class => 'pour'
        = image_tag 'step_one_arrow.png', :class => 'arrow'
        
      .section.section2
        %h5 2
        %h3 Implement
        %h4 minimum viable product
        %p
          From this initial vision, we build the simplest thing that will work, using test-driven development.  This allows us to put a working, albeit incomplete, product into the customers hands in the earliest timeline feasible.
        = image_tag 'step_two_yellow.png', :class => 'yellow_tube'
        = image_tag 'step_two_blue.png', :class => 'blue_tube'
        = image_tag 'step_two_beaker.png', :class => 'beaker'

      .section.section3
        %h5 3
        %h3 Iterate
        %h4 hand-in-hand with customer
        %p
          At this point, we work alongside the customer to move the application from "a thing that works" to a product that they love.  Getting this right requires a period of near-constant contact.
        = image_tag 'step_three_beakers.png', :class => 'beakers'
      .section.section4
        %h5 4
        %h3 Ship It
        %h4
          deploy
          %span.amp &amp;
          manage
        %p
          Now we get the current version of the product out the door and in the hands of the end-users.  As soon as users are involved, we can work with the client to not only build the product the client thought they were building, but also the product that their users want to use.
          
        = image_tag 'step_four_box.png', :class => 'ship_box'

      .section.section5
        %h5 5
        %h3 Tweak
        %h4 add features
        %p
          Web software is a living, breathing thing.  Metaphorically, of course.  So there are always more features to give to make the end-users love the software.  We try to keep this in a tight feedback loop with shipping.


- content_for :javascripts do
  :javascript
    $(window).load(function() {
      $('.services-slider').orbit({
        animation: 'horizontal-slide',                  // fade, horizontal-slide, vertical-slide, horizontal-push
        animationSpeed: 800,                // how fast animtions are
        timer: true, 			 // true or false to have the timer
        advanceSpeed: 4000, 		 // if timer is enabled, time between transitions 
        pauseOnHover: false, 		 // if you hover pauses the slider
        startClockOnMouseOut: false, 	 // if clock should start on MouseOut
        startClockOnMouseOutAfter: 1000, 	 // how long after MouseOut should the timer start again
        directionalNav: true, 		 // manual advancing directional navs
        captions: true, 			 // do you want captions?
        captionAnimation: 'fade', 		 // fade, slideOpen, none
        captionAnimationSpeed: 800, 	 // if so how quickly should they animate in
        bullets: true,			 // true or false to activate the bullet navigation
        bulletThumbs: false,		 // thumbnails for the bullets
        bulletThumbLocation: '',		 // location from this file where thumbs will be
        afterSlideChange: function(){} 	 // empty function 
      });
    });
