%div{ class: "mockup6 #{ params[:bree] ? 'bree' : 'vast' }" }
  #who-we-are
    #parallax-bg1
      - (1..11).each do |i|
        = image_tag "cloud/cloud_#{i}.png", :id => "cloud#{i}", :class => 'cloud'
    %header{ role: "banner" }
      %h1
        %span= link_to 'isotope|eleven', root_path
    %h2.first Software
    %h2.second Development
  #what-we-do
    .services-slider
      = image_tag 'fader_slide1.png'
    .bullets
  #how-we-do-it
    .section.section0
      %h5 0
      %h3 Phase Zero
      %h4 strategy / layout ish
      %p
        Herp de derp, derp derp, da derpa derpa.  Da derpa herp de
        durrrrrrrr derpa daaa derrr. Derp derp haha derp durrrr.  De derp?
        Durpa Hurp da durpa durpa derrrr.
    .section.section1
      %h5 1
      %h3 Wireframe
      %h4 mockup / user stories
      %p
        Herp de derp, derp derp, da derpa derpa.  Da derpa herp de
        durrrrrrrr derpa daaa derrr. Derp derp haha derp durrrr.  De derp?
        Durpa Hurp da durpa durpa derrrr.
    .section.section2
      %h5 2
      %h3 Implement
      %h4 minimum viable product
      %p
        Herp de derp, derp derp, da derpa derpa.  Da derpa herp de
        durrrrrrrr derpa daaa derrr. Derp derp haha derp durrrr.  De derp?
        Durpa Hurp da durpa durpa derrrr.
    .section.section3
      %h5 3
      %h3 Iterate
      %h4 hand-in-hand with customer
      %p
        Herp de derp, derp derp, da derpa derpa.  Da derpa herp de
        durrrrrrrr derpa daaa derrr. Derp derp haha derp durrrr.  De derp?
        Durpa Hurp da durpa durpa derrrr.
    .section.section4
      %h5 4
      %h3 Ship It
      %h4 deploy &amp; manage
      %p
        Herp de derp, derp derp, da derpa derpa.  Da derpa herp de
        durrrrrrrr derpa daaa derrr. Derp derp haha derp durrrr.  De derp?
        Durpa Hurp da durpa durpa derrrr.
    .section.section5
      %h5 5
      %h3 Tweak
      %h4 add features
      %p
        Herp de derp, derp derp, da derpa derpa.  Da derpa herp de
        durrrrrrrr derpa daaa derrr. Derp derp haha derp durrrr.  De derp?
        Durpa Hurp da durpa durpa derrrr.
  %footer
    %a.btn.primary{ href: '#' }
      %span Visit Blog
    .location
      %strong Isotope11
      %br
      529 Beacon Parkway W
      %br
      Suite 105
      %br
      Birmingham, AL 35209

- content_for :javascripts do
  = javascript_include_tag 'cloud_parallax'
