- content_for :title do
  bootstrap-will_paginate &ndash; Community &ndash; Isotope|eleven

.fixed_content
  %h2.interior bootstrap-will_paginate

.interior
  .fixed_content
    .work_content_right
      = image_tag 'phase_zero.png', :alt => 'state_machine_audits image'
      %h4 bootstrap-will_paginate
      .clear
      %ul
        %li
          = link_to('RubyGem page', 'http://rubygems.org/gems/bootstrap-will_paginate')
        %li
          = link_to('Github Repo', 'http://github.com/yrgoldteeth/bootstrap-will_paginate')
        %li
          = link_to('Blog Post', 'http://isotope11.com/blog/will-paginate-link-renderer-for-twitter-bootstrap')
    .work_content_left
      %h3{:class => "typeface-js"}
        bootstrap-will_paginate
      %p
        = link_to('bootstrap-will_paginate', 'http://github.com/yrgoldteeth/bootstrap-will_paginate')
        is a gem used in conjunction with Twitter's Bootstrap styling framework and the will_paginate library that
        is a drop-in to ensure will_paginate's HTML is generated to match the Bootstrap standard.
      %p
        = link_to 'Back to Community', '/community'
    .clear
