- content_for :title do
  css3-progress-bar-rails &ndash; Community &ndash; isotope|eleven

= interior_header 'Community'

.interior
  .fixed_content
    = render_sibling_nav_for(:community)
    .work_content_left
      #github-readme
        Loading...
      %p
        = link_to 'Back to Community', '/community'
    .work_content_right
      = image_tag 'phase_zero.png', :alt => 'progress bar img'
      %ul
        %li
          = link_to('RubyGem page', 'http://rubygems.org/gems/css3-progress-bar-rails')
        %li
          = link_to('Github Repo', 'http://github.com/yrgoldteeth/css3-progress-bar-rails')
        %li
          = link_to('Blog Post', 'http://isotope11.com/blog/css3-progress-bars-for-rails')

    .clear
- content_for :javascripts do
  :javascript
    $(function(){
      $('#github-readme').load('/community/get_github_project?project=yrgoldteeth/css3-progress-bar-rails #readme article');
    });
