- content_for :title do
  Community &ndash; isotope|eleven

= interior_header 'Community'

.interior
  .fixed_content
    %p
      When we're not constantly churning out work, we like to pick up and try out new development technologies and further hone our skills and also give back to the great Ruby community by hosting monthly meetings (we have pizza too!). The meetings give many of us here a chance to further research interesting topics and present to and discuss with other Ruby enthusiasts. 

    = render_project 'Xrono', 'feature_xrono.png', '/community/xrono', "Track your company's time and profitability with our open source project, Xrono"
    = render_project 'RubyHam', 'feature_rubyham.png', '/community/rubyham', "Meet and learn with other Ruby professionals and enthusiasts in the greater Birmingham area."
    = render_project 'state_machine_audits', 'feature_saas.png', '/community/state_machine_audits', "is a gem intended to be used in conjunction with the state_machine gem..."
    = render_project 'TechBirmingham', 'techbirmingham_logo.png', '/community/techbirmingham', "isotope|eleven is a silver sponsor for TechBirmingham..."
    = render_project 'contract_acceptance_framework', 'feature_saas.png', '/community/contract_acceptance_framework', "is a gem that allows rails objects to agree to versioned contracts."
    = render_project 'bootstrap-will_paginate', 'feature_saas.png', '/community/bootstrap_will_paginate', "is a gem that works with the Twitter Bootstrap and Will Paginate libraries."
    = render_project 'css3_progress_bar_rails', 'feature_saas.png', '/community/css3_progress_bar_rails', "is a gem that generates progress bars in css"
    = render_project 'isotope_contacts', 'feature_saas.png', '/community/isotope_contacts', "is a gem that provides drop-in contact management for your rails app"
    .clearfix
