- content_for :title do
  isotope_contacts &ndash; Community &ndash; Isotope|eleven

.fixed_content
  %h2.interior isotope_contacts

.interior
  .fixed_content
    .work_content_right
      = image_tag 'phase_zero.png', :alt => 'isotope_contacts image'
      %h4 isotope_contacts
      .clear
      %ul
        %li
          = link_to('Github Repo', 'http://github.com/isotope11/isotope_contacts')
        %li
          = link_to('Blog Post', 'http://isotope11.com/blog/drop-in-contact-management-for-your-rails-app')
    .work_content_left
      %h3{:class => "typeface-js"}
        isotope_contacts
      %p
        = link_to('isotope_contacts', 'http://github.com/isotope11/isotope_contacts')
        is a drop-in contact management engine for your rails app.
      %p
        = link_to 'Back to Community', '/community'
    .clear
