- content_for :title do
  quote_app &ndash; Community &ndash; isotope|eleven

= interior_header 'Community'

.interior
  .fixed_content
    = render_sibling_nav_for(:community)
    .work_content_right
      = image_tag 'phase_zero.png', :alt => 'quote_app image'
      %ul
        %li
          = link_to('Github Repo', 'http://github.com/isotope11/quote_app')
        %li
          = link_to('Blog Post', 'http://isotope11.com/blog/isotope11-quote-app-open-source-quote-building-rails-project')
    .work_content_left
      %h3 quote_app
      %p
        = link_to('quote_app', 'http://github.com/isotope11/quote_app')
        is a rails app for estimating software projects and exporting PDFs.
      %p
        = link_to 'Back to Community', '/community'

