- content_for :title do
  RubyHam &ndash; Community &ndash; isotope|eleven

= interior_header 'Community'

.interior
  .fixed_content
    = render_sibling_nav_for(:community)
    .work_content_left
      %h3 RubyHam
      %p
        Hosted at the isotope|eleven office, the monthly meeting (usually on the last Wednesday of each month) offers Birmingham area Ruby professionals and enthusiasts a chance to catch up with other like-minded individuals and also expand your skill set. Don't worry though, you don't need to be a Ruby master to be able to learn a little and get more familiarized with the language.  
      %p
        = link_to 'Back to Community', '/community'
    .work_content_right
      = image_tag 'rubyham.png', :alt => 'RubyHam Work Image'
      %ul
        %li
          Monthly meetings (with pizza) sponsored by
          = link_to 'isotope|eleven', 'http://www.meetup.com/rubyham/', :target => '_blank'
        %li
          Discussion group on
          = link_to 'Yahoo', 'http://tech.groups.yahoo.com/group/rubyham/', :target => '_blank'
        %li
          IRC Channel on Freenode #rubyham
        %li
          Founded in 2005
