- content_for :title do
  state_machine_audits &ndash; Community &ndash; isotope|eleven

= interior_header 'Community'

.interior
  .fixed_content
    = render_sibling_nav_for(:community)
    .work_content_left
      #github-readme
        Loading...
      %p
        = link_to 'Back to Community', '/community'
    .work_content_right
      = image_tag 'phase_zero.png', :alt => 'state_machine_audits image'
      %ul
        %li
          = link_to('RubyGem page', 'http://rubygems.org/gems/state_machine_audits')
        %li
          = link_to('Github Repo', 'http://github.com/isotope11/state_machine_audits')
- content_for :javascripts do
  :javascript
    $(function(){
      $('#github-readme').load('/community/get_github_project?project=isotope11/state_machine_audits #readme article');
    });
