- content_for :title do
  Xrono &ndash; Community &ndash; isotope|eleven

= interior_header 'Community'

.interior
  .fixed_content
    = render_sibling_nav_for(:community)
    .work_content_left
      #github-readme
        Loading...
      %p
        = link_to 'Back to Community', '/community'
    .work_content_right
      = image_tag 'work-xrono.png', :alt => 'Xrono Work Image'
      %ul
        %li
          = link_to('Github Repo', 'http://github.com/isotope11/xrono')
        %li
          Well defined taxonomy for handling a wide range of situations (Clients, Projects, Tickets, Work Units)
        %li
          Track Off-Time, with options for company and personal time
        %li
          Real time and daily client updates via email
        %li
          Robust Invoicing and Payroll systems
        %li
          Comprehensive test suite for
          = link_to 'continued development', 'https://github.com/isotope11/xrono', :target => '_blank'
- content_for :javascripts do
  :javascript
    $(function(){
      $('#github-readme').load('/community/get_github_project?project=isotope11/xrono #readme article');
    });
