- content_for :title do
  Autopartstomorrow &ndash; Case Studies &ndash; isotope|eleven

= interior_header 'Case Studies'
.interior
  .fixed_content
    %ul.sibling_nav
      %li.next
        = link_to 'next', '#'
      %li.previous
        = link_to 'previous', '#'
      .clearfix
    .casestudy_left
      %h2 Autopartstomorrow
      %ul.categories
        %li E-commerce
      %ul.results
        %li Restructuring codebase
        %li Full layout redesign 
        %li Decrease average page load by 60%
        %li Total unique visitor traffic increase of 55%
        %li Bounce rate decrease of 20%
      %ul.thumbs
        %li
          %a{ :href => '/assets/case_studies/alabamaintel1.png', :id => 'image', :rel => "alabamaintel"}
            = image_tag 'case_studies/casestudy_image_thumb.png'
        %li
          %a{ :href => '/assets/case_studies/alabamaintel2.png', :id => 'image', :rel => "alabamaintel"}
            = image_tag 'case_studies/casestudy_image_thumb.png'
        %li
          %a{ :href => '/assets/case_studies/alabamaintel3.png', :id => 'image', :rel => "alabamaintel"}
            = image_tag 'case_studies/casestudy_image_thumb.png'
        %li
          %a{ :href => '/assets/case_studies/alabamaintel4.png', :id => 'image', :rel => "alabamaintel"}
            = image_tag 'case_studies/casestudy_image_thumb.png'
    .casestudy_right
      %p.description
        AutoPartsTomorrow.com is a leading distributor of automotive parts and supplies that offers time-definite service at the low prices. The parts shown on the site reflect in-stock and ready to ship parts.  
        
      %p This app does everything you could possibly want it to do and not only that, it is beautifully designed and extremely intuitive to use. Download it from the App Store for FREE if you don’t mind some adverts popping up or if you prefer an ad-free experience then you can down load the ad-free version for 99p.
      %blockquote.aside
        &ldquo; One ring...to rule them all&rdquo;
      %p That’s a big claim, does it really work? Yes it does and has been given 5 out of 5 stars on all the reviews we’ve seen so far, so download it now and let us know what you think.This app does everything you could possibly want it to do and not only that, it is beautifully designed and extremely intuitive to use. Download it from the App Store for FREE if you don’t mind some adverts popping up or if you prefer an ad-free experience then you can down load the ad-free version for 99p.
      %p Yes it does and has been given 5 out of 5 stars on all the reviews we’ve seen so far, so download it now and let us know what you think.That’s a big claim, does it really work?
      %p Yes it does and has been given 5 out of 5 stars on all the reviews we’ve seen so far, so download it now and let us know what you think.

= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'
= javascript_include_tag 'jquery.easing-1.3.pack.js'
:javascript
  $(document).ready(function() {
    $("a#image").fancybox({
      'transitionIn': 'fade',
      'transitionOut': 'fade',
      'speedIn': 600, 
      'speedOut': 200, 
      'overlayShow': false
    });
  });