- content_for :title do
  Case Studies &ndash; isotope|eleven

= interior_header 'Case Studies'
%script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"}


.interior
  .fixed_content
    %ul.sibling_nav
      %li.next
        = link_to 'other case', '#'
      %li.previous
        = link_to 'other case', '#'
    .casestudy_left
      = image_tag 'casestudy_alabamaintel.png'
      %ul.thumbs
        %li
          %a{ :href => '/assets/about.png', :id => 'image'}
            = image_tag 'casestudy_image_thumb.png'
        %li
          = image_tag 'casestudy_image_thumb.png'
        %li
          = image_tag 'casestudy_image_thumb.png'
        %li
          = image_tag 'casestudy_image_thumb.png'
    .casestudy_right
      %p This app does everything you could possibly want it to do and not only that, it is beautifully designed and extremely intuitive to use. Download it from the App Store for FREE if you don’t mind some adverts popping up or if you prefer an ad-free experience then you can down load the ad-free version for 99p.
      %p That’s a big claim, does it really work? Yes it does and has been given 5 out of 5 stars on all the reviews we’ve seen so far, so download it now and let us know what you think.This app does everything you could possibly want it to do and not only that, it is beautifully designed and extremely intuitive to use. Download it from the App Store for FREE if you don’t mind some adverts popping up or if you prefer an ad-free experience then you can down load the ad-free version for 99p.
      %p Yes it does and has been given 5 out of 5 stars on all the reviews we’ve seen so far, so download it now and let us know what you think.That’s a big claim, does it really work?
      %p Yes it does and has been given 5 out of 5 stars on all the reviews we’ve seen so far, so download it now and let us know what you think.

:javascript
  $(document).ready(function() {
    $("a#image").fancybox({
      'transitionIn': 'fade',
      'transitionOut': 'fade',
      'speedIn': 600, 
      'speedOut': 200, 
      'overlayShow': false
    });
  });  