%nav.short
  %ul
    = tab_for(:desktop, 'Home', root_path, :home)
    = tab_for(:tablet, 'About', about_index_path, :about)
    = tab_for(:tablet, 'Services', services_path, :services)
    = tab_for(:tablet, 'Blog', '/blog', :blog)
    = tab_for(:desktop, 'Community', community_path, :community)
    = tab_for(:tablet, 'Contact', '/contact', :contact, 'last')
