!!!
/
  320 and Up boilerplate extension
  Andy Clarke http://about.me/malarkey
  Keith Clark http://twitter.com/keithclarkcouk
  Version: 2
  URL: http://stuffandnonsense.co.uk/projects/320andup/
  License: http://creativecommons.org/licenses/MIT

- conditional_html 'en-US' do
  %head
    %title
      = content_for?(:title) ? yield(:title) : "isotope|eleven"
    = render partial: 'layouts/head_bits'
  %body.clearfix{ class: "action-#{params[:action]} controller-#{params[:controller]}" }
    #top_area
      #swoosh
      #clouds.gradient
      = render partial: 'layouts/who_we_are'      
      = yield :top_area
    = yield
    = render partial: 'layouts/footer'
    = render partial: 'layouts/responsive/javascripts'
    = yield :javascripts
