!!!
/
  320 and Up boilerplate extension
  Andy Clarke http://about.me/malarkey
  Keith Clark http://twitter.com/keithclarkcouk
  Version: 2
  URL: http://stuffandnonsense.co.uk/projects/320andup/
  License: http://creativecommons.org/licenses/MIT
- conditional_html 'en-US' do
  %head
    %title
      = content_for?(:title) ? yield(:title) : "isotope|eleven"
    = render partial: 'layouts/responsive/meta'
    = render partial: 'layouts/responsive/fonts'
    = render partial: 'layouts/responsive/stylesheets'
    / Yield any custom stylesheets
    = yield :stylesheets

    = render partial: 'layouts/responsive/shims'
    = render partial: 'layouts/responsive/favicons'
    = render partial: 'layouts/responsive/apple_config'

    / http://googlewebmastercentral.blogspot.com/2009/02/specify-your-canonical.html
    %link{ rel: "canonical", href: "/" }

  %body.clearfix{ class: "action-#{params[:action]} controller-#{params[:controller]}" }
    #clouds
    #who-we-are
      %header{ role: "banner" }
        %h1
          %span= link_to 'isotope|eleven', root_path
      %nav
        %ul
          %li= link_to 'About', about_index_path
          %li= link_to 'Services', services_path
          %li.last= link_to 'Contact', home_contact_path
      %hr
      .byline-side
        .line.first
        .line.second
      .byline
        %h2.first Software
        %h2.second Development
      .byline-side
        .line.first
        .line.second
    = yield
    %footer
      %iframe{:frameborder => "0", :height => "320px", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://maps.google.com/maps?q=529+Beacon+Parkway+West,+Birmingham,+AL&hl=en&sll=37.0625,-95.677068&sspn=45.822921,78.486328&oq=529+Beacon+Parkwa&hnear=529+Beacon+Pkwy+W,+Birmingham,+Alabama+35209&t=h&ie=UTF8&hq=&z=14&iwloc=A&ll=33.475357,-86.822355&output=embed", :width => "100%"}
      .fixed_content
        %a.btn.primary{ href: posts_path }
          %span View Blog
        .location
          %strong Isotope11
          %br
          529 Beacon Parkway W
          %br
          Suite 105
          %br
          Birmingham, AL 35209
    = render partial: 'layouts/responsive/javascripts'
    = yield :javascripts
