!!!
/
  320 and Up boilerplate extension
  Andy Clarke http://about.me/malarkey
  Keith Clark http://twitter.com/keithclarkcouk
  Version: 2
  URL: http://stuffandnonsense.co.uk/projects/320andup/
  License: http://creativecommons.org/licenses/MIT
- conditional_html 'en-US' do
  %head
    %title
      = content_for?(:title) ? yield(:title) : "isotope|eleven"
    = render partial: 'layouts/responsive/meta'
    = render partial: 'layouts/responsive/fonts'
    = render partial: 'layouts/responsive/stylesheets'
    / Yield any custom stylesheets
    = yield :stylesheets

    = render partial: 'layouts/responsive/shims'
    = render partial: 'layouts/responsive/favicons'
    = render partial: 'layouts/responsive/apple_config'

    / http://googlewebmastercentral.blogspot.com/2009/02/specify-your-canonical.html
    %link{ rel: "canonical", href: "/" }

  %body.clearfix{ class: "action-#{params[:action]} controller-#{params[:controller]}" }
    #parallax-bg1
      - [11, 10, 7, 5, 4, 3, 2, 1].each do |i|
        .cloud{ class: "cloud#{i}" }
    #who-we-are
      %header{ role: "banner" }
        %h1
          %span= link_to 'isotope|eleven', root_path
      %nav
        %ul
          %li= link_to 'About', about_index_path
          %li= link_to 'Services', services_path
          %li.last= link_to 'Contact', home_contact_path
      %hr
      .byline-side
        .line.first
        .line.second
      .byline
        %h2.first Software
        %h2.second Development
      .byline-side
        .line.first
        .line.second
    = yield

    = render partial: 'layouts/responsive/javascripts'
    = yield :javascripts
    = javascript_include_tag 'request_animation_frame_polyfill'
    = javascript_include_tag 'cloud_parallax'
